<header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">{{content.field_title.0}}</div>
          <div class="intro-heading">{{content.field_abstract.0}}</div>
          <a class="btn btn-xl js-scroll-trigger" href="#services">{{content.field_button_text.0}}</a>
        </div>
      </div>
    </header>