<div class="col-md-3 col-sm-6">
            <a href="{{content.field_logo_link.0}}">
              <img class="img-fluid d-block mx-auto" src="{{content.field_portfolio_image.0}}" alt="">
            </a>
          </div>